@import "tailwindcss";

:root {
  --background: #FEFCF5;
  --foreground: #0E0F12;
  --color-off-white: #FEFCF5;
  --color-off-black: #0E0F12;
  --color-off-white-tertiary: #9B9581;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-display: var(--font-display);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0E0F12;
    --foreground: #FEFCF5;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.font-display {
  font-family: var(--font-display);
  letter-spacing: -2.61px;
  line-height: 100%;
}
